- content_for :title do
	FRS-R Login...do it...punk.
	
- content_for :headAssets do end 
	

- content_for :body do
	%nav.navbar.navbar-default
		.navbar-header
			%a.navbar-brand(href='#') BrahStrovsky?
		%ul.nav.navbar-nav
			%li.active
				%a(href='#') Link, come to town
			%li
				%a(href='#') Come to save
			%li 
				%a(href='#') Ze princess Zerudah

	=link_to image_tag('facebooklogin.png'), 'sessions/facebook'
	- if signed_in?
		"Signed in as:"
		"#{current_user.to_json}"