- content_for :title do
	This is a Test Page Sam Made for HAML
	
-# Thanks to http://stackoverflow.com/questions/4421842/structuring-of-layout-template-in-haml for explaining things
- content_for :head do end 

- content_for :body do
	%h1='Title Man'